apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-service
  annotations:
    envlabel: {{ .Values.service.annotations.envlabel }}
  labels:
    name: {{ .Values.service.labels.name}}
spec:
{{- with .Values.service }}
  type: {{ .type }}
  ports:
    - port: {{ .port }}
      protocol: {{ .protocol}}
{{- end }}
  selector: 
    testapp: "true"
    
